<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ACADEMIX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuitionManagementApp"
        tools:targetApi="31">

        <!-- Launch Activity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:networkSecurityConfig="@xml/network_security_config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QR Scanner Activities -->
        <activity
            android:name=".admin.QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TuitionManagementApp" />

        <activity
            android:name=".teacher.QRAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TuitionManagementApp" />

        <!-- ZXing CaptureActivity for QR Scanning -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <!-- Dashboard Activities -->
        <activity
            android:name=".student.StudentDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".teacher.TeacherDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ParentPortalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Student Activities -->
        <activity android:name=".student.AttendanceActivity" />
        <activity android:name=".student.AssignmentActivity" />
        <activity android:name=".student.ResultActivity" />
        <activity android:name=".student.MaterialsActivity" />
        <activity android:name=".student.ProfileActivity" />

        <!-- Teacher Activities -->
        <activity android:name=".teacher.EditProfileActivity" />
        <activity android:name=".teacher.AssignmentActivity" />
       <!-- <activity android:name=".teacher.MaterialsActivity" /> -->
        <activity android:name=".teacher.TeacherMaterialsManagementActivity" />
       <!-- <activity android:name=".teacher.AttendanceActivity" /> -->
        <activity android:name=".teacher.AttendanceRecordsActivity" />
        <activity android:name=".teacher.AttendanceDetailActivity" />
        <activity android:name=".teacher.UploadResultActivity" />
        <activity android:name=".teacher.AnalyticsActivity" />
        <activity android:name=".teacher.CalendarActivity" />
        <activity
            android:name=".teacher.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Admin Activities -->
        <activity android:name=".admin.AddStudentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".admin.AddTeacherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".admin.StudentAssignmentActivity" />
        <activity android:name=".admin.ClassCalender" />
        <activity android:name=".admin.AllReports" />
        <activity android:name=".admin.AllClasses" />
        <activity android:name=".admin.StudentDetailsActivity" />
        <activity
            android:name=".admin.StudentPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageClassCategoriesActivity"
            android:exported="false" />

    </application>
</manifest>
